{% extends 'core/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<header class="px-6 py-10 lg:py-20 bg-purple-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">About Shockit Electronics</p>
        <p class="mb-10 text-white">Your last stop for electronics shopping!</p>
    </div>
</header>
<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <div class="products flex items-center flex-wrap">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor possimus, odio eius beatae earum, praesentium labore dolore, placeat doloremque dolorem nemo. Ipsa perferendis debitis velit, corrupti ullam autem officiis reiciendis.
    </div>
</div>
{% endblock %}